# standard rust ignores
**/debug/
**/target/

# ignore testing folders (symlink problems for git)
**/test_stuff/*
**/test_other/*
/test_other
/test_stuff
/test_other/
/test_stuff/


# utilities screenshots
**/capts/